*
{
    margin: 0px;
    padding: 0px;
}

#openDialog
{
    display: flex;
    align-items: center;
}

button {
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.book-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  background-color: #f9f9f9;
}

dialog {
  border: none;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
